.container {
    max-width: 1150px;
    width: 100%;
    padding: 20px 15px;
    margin: 0 auto;
}

.button {
    padding: 5px;
    text-align: center;
    border: 1px solid black;
    color: black;
    margin-bottom: 50px;
    display: block;
    max-width: 85px;
    width: 100%;
    cursor: pointer;
}
